/* ========== Variables de color ========== */
:root {
    --Color-1: #0e0e0e; /* Fondo principal */
    --Color-2: #ffffff; /* Color texto blanco */
    --Color-3: #000000; /* Negro */
    --Color-4: #a300f5; /* Morado degradado 1 */
    --Color-5: #5104ec; /* Morado degradado 2 */
    --Color-6: #464646; /* Gris claro */
}

/* Contenedor principal del cuerpo con imagen de fondo */
.BODY_HOME_INFO {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 12.5vh;

    /* Fondo con imagen */
    background-image: url(/Multimedias/Fondos/Group\ 124\ \(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: var(--Color-1); /* Color de fondo de reserva */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.35); /* Sombra inferior */
}

/* Columna izquierda: información textual y botones */
.INFO_LEFT {
    display: flex;
    width: auto;
    height: 100%;
    font-size: 100%;
    color: var(--Color-2);

    /* Degradado desde negro hacia transparente */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 80%, transparent 100%);

    /* Forma recortada de la columna */
    clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%);
}

/* Contenedor interno de elementos alineados en columna */
.INFO_LEFT > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    user-select: none;

    position: relative;
    animation: flotar 3s ease-in-out infinite;
}

/* Logo principal */
.INFO_LEFT > div img {
    width: 30%;
    height: auto;
    opacity: 100%;
    cursor: pointer;
    transition: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.INFO_LOG{
    display: flex;
    width: 100%;
    justify-content: center;
}
.INFO_LEFT > div img:hover {
    transform: scale(1.05);
}

/* Título */
.INFO_LEFT > div h1 {
    width: 70%;
    text-decoration: none;
    height: auto;
    text-align: center;
    font-weight: bolder;
    font-family: "Bebas Neue", sans-serif;
    font-weight:400;
    font-style:normal;
    font-size:2.5rem;
}
.INFO_LEFT > div h1 a{
    text-decoration: none;
    color: var(--Color-2);
}

/* Subtítulo */
.INFO_LEFT > div h4 {
    width: 70%;
    height: auto;
    line-height: 2;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-style: italic;
    font-weight: normal;
}

/* Párrafos descriptivos */
.INFO_LEFT > div p {
    width: 70%;
    height: auto;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
}
.INFO_LEFT h4 a{
    color: var(--Color-2);
    text-decoration: none;
    transition: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.INFO_LEFT h4 a:hover{
    background: linear-gradient(270deg, var(--Color-4), var(--Color-5), var(--Color-4));
    background-size: 300% 600%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animarGradient 6s ease infinite;
    user-select: none;
}
/* Botón de acción */
.INFO_LEFT button {
    width: 30%;
    height: 8%;
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
    font-size: 1rem;

    border-radius: 50px;
    border: 3px solid var(--Color-2);
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--Color-2);
    transition: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Efecto hover del botón */
.INFO_LEFT button:Hover {
    transform: scale(1.05);
    background-color: var(--Color-2);
    color: var(--Color-4);
}

/* Columna derecha: imagen decorativa/personaje */
.INFO_RIGTH {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Alineación vertical inferior de la imagen */
.INFO_RIGTH div {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: end;
}

/* Imagen del personaje */
.INFO_RIGTH div img {
    width: auto;
    height: 100%;
    opacity: 98%;
}

/* Logo alternativo oculto por defecto */
.LogoResonance {
    display: none;
}





.SECTION_VIDEO{
    width: 100vw;
    height: auto;
    display: flex;
}
.VIDEO{
    display: flex;
    width: 100%;
    height: auto;
    padding-top: 3rem;;
    padding-bottom: 3rem;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CONT_VIDEO_TITLE{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.80);
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.60);
}
.CONT_VIDEO_TITLE h1{
    font-size: 250%;
    background: linear-gradient(270deg, var(--Color-4), var(--Color-5), var(--Color-4));
    background-size: 300% 600%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animarGradient 6s ease infinite;
    user-select: none;
}

.VIDEO_TRASER{
    padding-top: 2%;
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}
.VIDEO_TRASER video{
    width: 60%;
    height: auto;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.60);
}
.VIDEO_TRASER button{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 0.2rem solid var(--Color-2);
    background-color: rgba(0, 0, 0, 0.60);
    position: absolute;
    color: var(--Color-2);
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.60);
    cursor: pointer;
    
    animation: flotar 3s ease-in-out infinite;
    cursor: pointer;
}
.VIDEO_TRASER button div{
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 300%;
    justify-content: center;
    align-items: center;  
}
.VIDEO_TRASER button:hover{
    background-color: var(--Color-2);
    color: #a300f5;
    transform: scale(1.1);
    font-size: 110%;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.60);
    opacity: 1;
}
.VIDEO_TRASER button i:hover{
    background: linear-gradient(270deg, var(--Color-4), var(--Color-5), var(--Color-4));
    background-size: 300% 600%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animarGradient 6s ease infinite;
}
.VIDEO_TRASER button.Play{
    opacity: 0;
}
.VIDEO_TRASER button.Play:hover{
    opacity: 1;
}




/* Responsivo: versión móvil */
@media screen and (max-width: 730px) {
    /* Mostrar logo alternativo */
    .LogoResonance {
        display: block;
    }

    /* Ocultar imagen del personaje */
    .INFO_RIGTH {
        display: none;
    }

    /* Ajuste del fondo para móvil: degradado vertical */
    .INFO_LEFT {
        display: flex;
        width: auto;
        height: 100%;
        font-size: 100%;
        color: var(--Color-2);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 80%, transparent 100%);
    }

    /* Eliminar espacio superior en pantallas pequeñas */
    .BODY_HOME_INFO {
        padding-top: 0;
    }
    .VIDEO_TRASER{
        padding-top: 5%;
    }
    .VIDEO_TRASER button {
        width: 60px;
        height: 60px;
    }
    .CONT_VIDEO_TITLE h1 {
        font-size: 200%;
    }
    .VIDEO_TRASER video{
        width: 80%;
        height: auto;
    }
    .VIDEO{
        padding-top: 8%;
        padding-bottom: 8%;
    }
}
